/* Accordion styles */
.tabs {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 0 0 #e5e5e5;
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
  border-bottom: 2px solid #ac4519;
}
.tab-label {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 1em;
  background: #d95921;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}
.tab-label:hover {
  background: #ac4519;
}
.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-transition: all .35s;
  transition: all .35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  -webkit-transition: all .35s;
  transition: all .35s;
}
.tab-close {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #d95921;
  cursor: pointer;
}
.tab-close:hover {
  background: #ac4519;
}

input:checked + .tab-label {
  background: #ac4519;
}
input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}



#carousel {
  position: relative;
  width:60%;
  margin:0 auto;
  }
  
  #slides {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 250px;
  }
  
  #slides ul {
  list-style: none;
  width:100%;
  height:250px;
  margin: 0;
  padding: 0;
  position: relative;
  }
  
   #slides li {
  width:100%;
  height:250px;
  float:left;
  text-align: center;
  position: relative;
  }
  /* Styling for prev and next buttons */
  .btn-bar{
      max-width: 346px;
      margin: 0 auto;
      display: block;
      position: relative;
      top: 40px;
      width: 100%;
  }
  
   #buttons {
  padding:0 0 5px 0;
  float:right;
  }
  
  #buttons a {
  text-align:center;
  display:block;
  font-size:50px;
  float:left;
  outline:0;
  margin:0 60px;
  color:#b14943;
  text-decoration:none;
  display:block;
  padding:9px;
  width:35px;
  }
  
  a#prev:hover, a#next:hover {
  color:#FFF;
  }
  
  .quote-phrase, .quote-author {
  font-family:sans-serif;
  font-weight:300;
  display: table-cell;
  vertical-align: middle;
  padding: 5px 20px;
  font-family:'Lato', Calibri, Arial, sans-serif;
  }
  
  .quote-phrase {
  height: 200px;
  font-size:24px;
  font-style:italic;
  }
  
  .quote-marks {
  font-size:30px;
  padding:0 3px 3px;
  position:inherit;
  }
  
  .quote-author {
  font-style:normal;
  font-size:20px;
  font-weight:400;
  height: 30px;
  }
  
  .quoteContainer, .authorContainer {
  display: table;
  width: 100%;
  }